USE [master]
GO
/****** Object:  Database [Onitama]    Script Date: 12/4/2023 6:36:03 AM ******/
CREATE DATABASE [Onitama]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Onitama', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Onitama.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Onitama_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Onitama_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Onitama].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Onitama]
GO
/****** Object:  Table [dbo].[DetailMovements]    Script Date: 12/4/2023 6:36:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailMovements](
	[Id_DM] [int] IDENTITY(1,1) NOT NULL,
	[Tag] [varchar](50) NOT NULL,
	[Id_M] [int] NULL,
	[Col] [int] NULL,
	[Row] [int] NULL,
 CONSTRAINT [PK_DetailMovements_Id_DM] PRIMARY KEY CLUSTERED 
(
	[Id_DM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movements]    Script Date: 12/4/2023 6:36:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[BinaryImage] [varbinary](max) NULL,
 CONSTRAINT [PK_Id_Movement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DetailMovements] ON 

INSERT [dbo].[DetailMovements] ([Id_DM], [Tag], [Id_M], [Col], [Row]) VALUES (1, N'TIG-N', 1, 0, 2)
INSERT [dbo].[DetailMovements] ([Id_DM], [Tag], [Id_M], [Col], [Row]) VALUES (2, N'TIG-S', 1, 0, -1)
INSERT [dbo].[DetailMovements] ([Id_DM], [Tag], [Id_M], [Col], [Row]) VALUES (3, N'CRB-N', 2, 0, 1)
SET IDENTITY_INSERT [dbo].[DetailMovements] OFF
GO
SET IDENTITY_INSERT [dbo].[Movements] ON 

SET IDENTITY_INSERT [dbo].[Movements] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [U_DetailMovements_Tag]    Script Date: 12/4/2023 6:36:04 AM ******/
ALTER TABLE [dbo].[DetailMovements] ADD  CONSTRAINT [U_DetailMovements_Tag] UNIQUE NONCLUSTERED 
(
	[Tag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [U_Name_Movement]    Script Date: 12/4/2023 6:36:04 AM ******/
ALTER TABLE [dbo].[Movements] ADD  CONSTRAINT [U_Name_Movement] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DetailMovements]  WITH CHECK ADD  CONSTRAINT [FK_DetailMovements_Movements] FOREIGN KEY([Id_M])
REFERENCES [dbo].[Movements] ([Id])
GO
ALTER TABLE [dbo].[DetailMovements] CHECK CONSTRAINT [FK_DetailMovements_Movements]
GO
USE [master]
GO
